.nomtes_icon{
    height: 200px;
    width: 200px;
}

.ss_left::before{
    background-image: url("../img/ss/home_dark.png");
    background-size: cover;
}

.ss_right::before{
    opacity: 0.5;
    background-image: url("../img/ss/home_light.png");
    background-size: cover;
}

.btnDownload{
    background-color: #bc3653;
    border-color: #bc3653;
  }
  .btnDownload:hover{
    opacity: 0.6;
    background-color: #bc3653;
    border-color: #bc3653;
  }

  .device-ss{
    max-width: 300px;
    height: 300px;
    background-position-y: -15px;
    background-size: cover;
    border-radius: 21px 21px 0 0;
  }

  .typewrite{
    color: #bc3653;
    padding: 0; 
    font-size: 2em;
    font-weight: lighter;
  }